{{ if .Site.Params.social }}
<div class="navbar-social d-flex align-items-center ml-3">
  {{ with .Site.Params.social.twitter }}
  <a href="{{ . }}" target="_blank" rel="noopener" class="navbar-social-link mx-1" title="Twitter">
    <i class="fab fa-twitter"></i>
  </a>
  {{ end }}
  
  {{ with .Site.Params.social.facebook }}
  <a href="{{ . }}" target="_blank" rel="noopener" class="navbar-social-link mx-1" title="Facebook">
    <i class="fab fa-facebook"></i>
  </a>
  {{ end }}
  
  {{ with .Site.Params.social.instagram }}
  <a href="{{ . }}" target="_blank" rel="noopener" class="navbar-social-link mx-1" title="Instagram">
    <i class="fab fa-instagram"></i>
  </a>
  {{ end }}
  
  {{ with .Site.Params.social.youtube }}
  <a href="{{ . }}" target="_blank" rel="noopener" class="navbar-social-link mx-1" title="YouTube">
    <i class="fab fa-youtube"></i>
  </a>
  {{ end }}
  
  {{ with .Site.Params.social.bluesky }}
  <a href="{{ . }}" target="_blank" rel="noopener" class="navbar-social-link mx-1" title="Bluesky">
    <i class="fas fa-cloud"></i>
  </a>
  {{ end }}
</div>
{{ end }}