{{ if .Site.Params.social }}
<div class="footer-social text-center mb-3">
  <h5>Follow Us</h5>
  <div class="social-links">
    {{ with .Site.Params.social.twitter }}
    <a href="{{ . }}" target="_blank" rel="noopener" class="footer-social-link mx-2" title="Follow us on Twitter">
      <i class="fab fa-twitter fa-2x"></i>
    </a>
    {{ end }}
    
    {{ with .Site.Params.social.facebook }}
    <a href="{{ . }}" target="_blank" rel="noopener" class="footer-social-link mx-2" title="Follow us on Facebook">
      <i class="fab fa-facebook fa-2x"></i>
    </a>
    {{ end }}
    
    {{ with .Site.Params.social.instagram }}
    <a href="{{ . }}" target="_blank" rel="noopener" class="footer-social-link mx-2" title="Follow us on Instagram">
      <i class="fab fa-instagram fa-2x"></i>
    </a>
    {{ end }}
    
    {{ with .Site.Params.social.youtube }}
    <a href="{{ . }}" target="_blank" rel="noopener" class="footer-social-link mx-2" title="Subscribe to our YouTube channel">
      <i class="fab fa-youtube fa-2x"></i>
    </a>
    {{ end }}
    
    {{ with .Site.Params.social.bluesky }}
    <a href="{{ . }}" target="_blank" rel="noopener" class="footer-social-link mx-2" title="Follow us on Bluesky">
      <i class="fas fa-cloud fa-2x"></i>
    </a>
    {{ end }}
  </div>
</div>
{{ end }}